.mediaViewInfo {
	--web-view-name: 1.1.Home;
	--web-view-id: n_1Home;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_1Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_1Home {
	position: absolute;
	width: 1366px;
	height: 4300px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 1.1.Home;
	--web-view-id: n_1Home;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#Group_2239 {
	position: absolute;
	width: 1248px;
	height: 40px;
	left: 59px;
	top: 516px;
	overflow: visible;
}
#New_In {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#arrows {
	position: absolute;
	width: 96px;
	height: 40px;
	left: 1152px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#Button-Next-Previous {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 56px;
	top: 0px;
	overflow: visible;
	transition: all 0.30000001192092896s ease-out;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 1_2_Product_Carousal.html;
	cursor: pointer;
}
#Container-button {
	fill: rgba(255,224,195,1);
}
.Container-button {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Iconchevron-down {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 8px;
	top: 8px;
	overflow: visible;
}
#Icon_material-keyboard-arrow-d {
	fill: rgba(0,0,0,1);
}
.Icon_material-keyboard-arrow-d {
	overflow: visible;
	position: absolute;
	width: 13.247px;
	height: 8.18px;
	transform: translate(0px, 0px) matrix(1,0,0,1,5.2025,7.912) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_217 {
	fill: transparent;
}
.Path_217 {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Button-Next-Previous_by {
	transform: translate(-1211px, -756px) matrix(1,0,0,1,1211,756) rotate(180deg);
	transform-origin: center;
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container-button_bz {
	fill: rgba(255,224,195,0.302);
}
.Container-button_bz {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Iconchevron-down_b {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 8px;
	top: 8px;
	overflow: visible;
}
#Icon_material-keyboard-arrow-d_b {
	fill: rgba(0,0,0,0.302);
}
.Icon_material-keyboard-arrow-d_b {
	overflow: visible;
	position: absolute;
	width: 13.247px;
	height: 8.18px;
	transform: translate(40px, 40px) matrix(1,0,0,1,5.2025,7.912) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_217_b {
	fill: transparent;
}
.Path_217_b {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#home_office {
	position: absolute;
	width: 1248px;
	height: 480px;
	left: 59px;
	top: 1020px;
	overflow: visible;
	padding: 0px;
}
#Container-image {
	position: absolute;
	width: 824px;
	height: 480px;
	left: 424px;
	top: 0px;
	overflow: visible;
}
#home_office_b {
	position: absolute;
	width: 400px;
	height: 228px;
	left: 0px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#Shop_all {
	left: 0px;
	top: 210px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 9_1_Category__Home_Office.html;
	cursor: pointer;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#It_might_be_work_but_it_doesnt {
	left: 0px;
	top: 103px;
	position: absolute;
	overflow: visible;
	width: 361px;
	height: 83px;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Home_Office_b {
	left: 0px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 28px;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Rectangle_45 {
	fill: rgba(233,233,233,1);
}
.Rectangle_45 {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 1px;
	left: 0px;
	top: 0px;
}
#bedroom {
	position: absolute;
	width: 1248px;
	height: 480px;
	left: 59px;
	top: 1580px;
	overflow: visible;
	padding: 0px;
}
#text {
	position: absolute;
	width: 400px;
	height: 227px;
	left: 848px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#Shop_all_cc {
	left: 0px;
	top: 209px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 9_2_Category__Bedroom.html;
	cursor: pointer;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#Everything_you_need_for_a_bedr {
	left: 0px;
	top: 102px;
	position: absolute;
	overflow: visible;
	width: 361px;
	height: 83px;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Bedroom_ce {
	left: 0px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 28px;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#divider {
	fill: rgba(233,233,233,1);
}
.divider {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 1px;
	left: 0px;
	top: 0px;
}
#Container-image_cg {
	position: absolute;
	width: 824px;
	height: 480px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_2238 {
	position: absolute;
	width: 1248px;
	height: 81px;
	left: 59px;
	top: 3282px;
	overflow: visible;
}
#arrows_ci {
	position: absolute;
	width: 1248px;
	height: 40px;
	left: 0px;
	top: 41px;
	overflow: visible;
}
#Button-Next-Previous_cj {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 1208px;
	top: 0px;
	overflow: visible;
	transition: all 0.30000001192092896s ease-out;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 1_2_Product_Carousal.html;
	cursor: pointer;
}
#Container-button_ck {
	fill: rgba(255,224,195,1);
}
.Container-button_ck {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Iconchevron-down_cl {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 8px;
	top: 8px;
	overflow: visible;
}
#Icon_material-keyboard-arrow-d_cm {
	fill: rgba(0,0,0,1);
}
.Icon_material-keyboard-arrow-d_cm {
	overflow: visible;
	position: absolute;
	width: 13.247px;
	height: 8.18px;
	transform: translate(0px, 0px) matrix(1,0,0,1,5.2025,7.912) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_217_cn {
	fill: transparent;
}
.Path_217_cn {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Button-Next-Previous_co {
	transform: translate(-59px, -3563px) matrix(1,0,0,1,1211,3563) rotate(180deg);
	transform-origin: center;
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container-button_cp {
	fill: rgba(255,224,195,0.302);
}
.Container-button_cp {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Iconchevron-down_cq {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 8px;
	top: 8px;
	overflow: visible;
}
#Icon_material-keyboard-arrow-d_cr {
	fill: rgba(0,0,0,0.302);
}
.Icon_material-keyboard-arrow-d_cr {
	overflow: visible;
	position: absolute;
	width: 13.247px;
	height: 8.18px;
	transform: translate(40px, 40px) matrix(1,0,0,1,5.2025,7.912) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_217_cs {
	fill: transparent;
}
.Path_217_cs {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Recently_Viewed {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 175px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Line-Break {
	fill: rgba(233,233,233,1);
}
.Line-Break {
	position: absolute;
	overflow: visible;
	width: 1248px;
	height: 1px;
	left: 0px;
	top: 0px;
}
#rooms {
	position: absolute;
	width: 1248px;
	height: 444px;
	left: 59px;
	top: 2700px;
	overflow: visible;
	padding: 0px;
}
#image_and_text {
	position: absolute;
	width: 400px;
	height: 444px;
	left: 848px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 9_5_Category__Bathroom.html;
	cursor: pointer;
	padding: 0px;
}
#Bathroom {
	left: 40px;
	top: 416px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 28px;
	line-height: 28px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Container-image_cy {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#image_and_text_cz {
	position: absolute;
	width: 400px;
	height: 444px;
	left: 424px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 9_4_Category__Dinning_Room.html;
	cursor: pointer;
}
#Container-image_c {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Dining_Room {
	left: 40px;
	top: 416px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 28px;
	line-height: 28px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#image_and_text_c {
	position: absolute;
	width: 400px;
	height: 444px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 9_3_Category__Living_Room.html;
	cursor: pointer;
	padding: 0px;
}
#Living_Room {
	left: 40px;
	top: 416px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 28px;
	line-height: 28px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Container-image_da {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Price_hover {
	position: absolute;
	width: 1366px;
	height: 560px;
	left: 0px;
	top: 2100px;
	overflow: visible;
}
#AdobeStock_295995814 {
	position: absolute;
	width: 1366px;
	height: 560px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Hover-point {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 559px;
	top: 171px;
	overflow: visible;
}
#Background {
	filter: blur(16px);
	fill: rgba(255,255,255,1);
}
.Background {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Point {
	fill: rgba(255,178,107,1);
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Point {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
}
#Hover-point_da {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 1151px;
	top: 270px;
	overflow: visible;
}
#Background_db {
	filter: blur(16px);
	fill: rgba(255,255,255,1);
}
.Background_db {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Point_dc {
	fill: rgba(255,178,107,1);
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Point_dc {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
}
#Hover-point_dd {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 274px;
	top: 294px;
	overflow: visible;
}
#Background_de {
	filter: blur(16px);
	fill: rgba(255,255,255,1);
}
.Background_de {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Point_df {
	fill: rgba(255,178,107,1);
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Point_df {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 12px;
	top: 12px;
}
#Scroll_Group_7 {
	mix-blend-mode: normal;
	position: absolute;
	width: 1366px;
	height: 356px;
	left: 0px;
	top: 3391px;
	overflow: hidden;
}
#Repeat_Grid {
	position: absolute;
	width: 1566px;
	height: 356px;
	left: 59px;
	top: 0px;
	overflow: hidden;
}
#Repeat_Grid_di {
	position: absolute;
	width: 1566px;
	height: 356px;
	left: 0px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#Product-list {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 1272px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000 {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container {
	fill: rgba(239,239,239,1);
}
.Container {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon {
	fill: transparent;
}
.Container-icon {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Product-list_ds {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 954px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_dt {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_du {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_dv {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_dw {
	fill: rgba(239,239,239,1);
}
.Container_dw {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_dx {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_dy {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_dz {
	fill: transparent;
}
.Container-icon_dz {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_d {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_d {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Product-list_d {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 636px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_d {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_d {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_d {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_d {
	fill: rgba(239,239,239,1);
}
.Container_d {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_d {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_d {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_d {
	fill: transparent;
}
.Container-icon_d {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_ea {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_ea {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Product-list_ea {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 318px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_eb {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_ec {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_ed {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_ee {
	fill: rgba(239,239,239,1);
}
.Container_ee {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_ef {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_eg {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_eh {
	fill: transparent;
}
.Container-icon_eh {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_ei {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_ei {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Product-list_ej {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 0px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_ek {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_el {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_em {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_en {
	fill: rgba(239,239,239,1);
}
.Container_en {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_eo {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_ep {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_eq {
	fill: transparent;
}
.Container-icon_eq {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_er {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_er {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Scroll_Group_1 {
	mix-blend-mode: normal;
	position: absolute;
	width: 1366px;
	height: 356px;
	left: 0px;
	top: 584px;
	overflow: hidden;
}
#Repeat_Grid_et {
	position: absolute;
	width: 1903px;
	height: 356px;
	left: 59px;
	top: 0px;
	overflow: hidden;
}
#Repeat_Grid_eu {
	position: absolute;
	width: 1566px;
	height: 356px;
	left: 0px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#Product-list_ev {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 1272px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_ew {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_ex {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_ey {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_ez {
	fill: rgba(239,239,239,1);
}
.Container_ez {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_e {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_e {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_e {
	fill: transparent;
}
.Container-icon_e {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_e {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_e {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Product-list_e {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 954px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_e {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_e {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_e {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_e {
	fill: rgba(239,239,239,1);
}
.Container_e {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_fa {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_fa {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_fb {
	fill: transparent;
}
.Container-icon_fb {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_fc {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_fc {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Product-list_fd {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 636px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_fe {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_ff {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_fg {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_fh {
	fill: rgba(239,239,239,1);
}
.Container_fh {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_fi {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_fj {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_fk {
	fill: transparent;
}
.Container-icon_fk {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_fl {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_fl {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Product-list_fm {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 318px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_fn {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_fo {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_fp {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_fq {
	fill: rgba(239,239,239,1);
}
.Container_fq {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_fr {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_fs {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_ft {
	fill: transparent;
}
.Container-icon_ft {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_fu {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_fu {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Product-list_fv {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 0px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_fw {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_fx {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_fy {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_fz {
	fill: rgba(239,239,239,1);
}
.Container_fz {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_f {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_f {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_f {
	fill: transparent;
}
.Container-icon_f {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_f {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_f {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Repeat_Grid_f {
	position: absolute;
	width: 1566px;
	height: 356px;
	left: 1586px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#Product-list_f {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 1272px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_f {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_f {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_f {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_f {
	fill: rgba(239,239,239,1);
}
.Container_f {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_ga {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_gb {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_gc {
	fill: transparent;
}
.Container-icon_gc {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_gd {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_gd {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Product-list_ge {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 954px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_gf {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_gg {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_gh {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_gi {
	fill: rgba(239,239,239,1);
}
.Container_gi {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_gj {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_gk {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_gl {
	fill: transparent;
}
.Container-icon_gl {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_gm {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_gm {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Product-list_gn {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 636px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_go {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_gp {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_gq {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_gr {
	fill: rgba(239,239,239,1);
}
.Container_gr {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_gs {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_gt {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_gu {
	fill: transparent;
}
.Container-icon_gu {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_gv {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_gv {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Product-list_gw {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 318px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_gx {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_gy {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_gz {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_g {
	fill: rgba(239,239,239,1);
}
.Container_g {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_g {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_g {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_g {
	fill: transparent;
}
.Container-icon_g {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_g {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_g {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Product-list_g {
	position: absolute;
	width: 294px;
	height: 356px;
	left: 0px;
	top: 0px;
	overflow: visible;
	padding: 0px;
}
#USD_2000_g {
	left: 27px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 18px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Betty_g {
	left: 127px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(21,21,21,1);
}
#Product_Image_g {
	position: absolute;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_ha {
	fill: rgba(239,239,239,1);
}
.Container_ha {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 294px;
	left: 0px;
	top: 0px;
}
#Image-Product_ha {
	position: absolute;
	width: 240px;
	height: 240px;
	left: 27px;
	top: 27px;
	overflow: visible;
}
#icon-fav_hb {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 256px;
	top: 14px;
	overflow: visible;
}
#Container-icon_hc {
	fill: transparent;
}
.Container-icon_hc {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Fav_hd {
	fill: transparent;
	stroke: rgba(21,21,21,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Fav_hd {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 1.5px;
	top: 3.057px;
	transform: matrix(1,0,0,1,0,0);
}
#Promotion-Section {
	position: absolute;
	width: 2638px;
	height: 320px;
	left: 59px;
	top: 156px;
	overflow: visible;
	padding: 0px;
}
#Rectangle_52 {
	fill: rgba(255,247,240,1);
}
.Rectangle_52 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 320px;
	left: 1272px;
	top: 0px;
}
#Promotion-list {
	position: absolute;
	width: 400px;
	height: 240px;
	left: 848px;
	top: 40px;
	overflow: visible;
	padding: 0px 0px 0px 24px;
}
#Container_hh {
	fill: rgba(255,224,195,1);
}
.Container_hh {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 240px;
	left: 0px;
	top: 0px;
}
#Image-Product_hi {
	position: absolute;
	width: 212px;
	height: 240px;
	left: 188px;
	top: 0px;
	overflow: visible;
}
#Promotion-text {
	position: absolute;
	width: 160px;
	height: 120px;
	left: 24px;
	top: 40px;
	overflow: visible;
	padding: 0px;
}
#n_00 {
	left: 0px;
	top: 92px;
	position: absolute;
	overflow: visible;
	width: 161px;
	height: 28px;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Sofa__Sectionals_from {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 161px;
	height: 84px;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Promotion-Topic {
	position: absolute;
	width: 400px;
	height: 160px;
	left: 424px;
	top: 80px;
	overflow: visible;
}
#Container_hn {
	fill: rgba(255,247,240,1);
	stroke: rgba(255,123,84,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Container_hn {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 160px;
	left: 0px;
	top: 0px;
}
#Group_539 {
	position: absolute;
	width: 240px;
	height: 103px;
	left: 80px;
	top: 29px;
	overflow: visible;
}
#n__great_furniture__on_sales_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -2.5px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,0,0,1);
}
#Deal_will_closes_in_2_days_ {
	left: 24px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Promotion-list_hr {
	position: absolute;
	width: 400px;
	height: 240px;
	left: 0px;
	top: 40px;
	overflow: visible;
	padding: 0px 0px 0px 24px;
}
#Container_hs {
	fill: rgba(255,224,195,1);
}
.Container_hs {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 240px;
	left: 0px;
	top: 0px;
}
#Image-Product_ht {
	position: absolute;
	width: 212px;
	height: 240px;
	left: 188px;
	top: 0px;
	overflow: visible;
}
#Promotion-text_hu {
	position: absolute;
	width: 160px;
	height: 92px;
	left: 24px;
	top: 40px;
	overflow: visible;
	padding: 0px;
}
#n_0 {
	left: 0px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 161px;
	height: 28px;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Office_Chair_from {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 161px;
	height: 56px;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Back_to_top {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 1279px;
	top: 782px;
	overflow: visible;
}
#Container-button_hy {
	fill: rgba(255,255,255,1);
}
.Container-button_hy {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	width: 56px;
	height: 56px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(-90deg);
	transform-origin: center;
}
#Iconchevron-down_hz {
	transform: translate(0px, 0px) matrix(1,0,0,1,16,16) rotate(-90deg);
	transform-origin: center;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Icon_material-keyboard-arrow-d_h {
	fill: rgba(0,0,0,1);
}
.Icon_material-keyboard-arrow-d_h {
	overflow: visible;
	position: absolute;
	width: 13.247px;
	height: 8.18px;
	transform: translate(0px, 24px) matrix(1,0,0,1,5.2025,7.912) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_217_h {
	fill: transparent;
}
.Path_217_h {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Nav_Bar {
	position: absolute;
	width: 1366px;
	height: 64px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container-Header {
	fill: rgba(255,255,255,1);
}
.Container-Header {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#divider_h {
	fill: transparent;
	stroke: rgba(233,233,233,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.divider_h {
	overflow: visible;
	position: absolute;
	width: 1366px;
	height: 1px;
	left: 0px;
	top: 64px;
	transform: matrix(1,0,0,1,0,0);
}
#Logo-Text {
	position: absolute;
	width: 149px;
	height: 32px;
	left: 59px;
	top: 16px;
	overflow: visible;
}
#LOZA {
	left: 36px;
	top: 5px;
	position: absolute;
	overflow: hidden;
	width: 114px;
	height: 27px;
	line-height: 27px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(21,21,21,1);
	letter-spacing: 1.25px;
}
#Logo {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_h {
	fill: transparent;
}
.Container_h {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#Logo_h {
	fill: rgba(21,21,21,1);
}
.Logo_h {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 24px;
	left: 2px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#right_icons {
	position: absolute;
	width: 120px;
	height: 24px;
	left: 1227px;
	top: 21px;
	overflow: visible;
	padding: 0px;
}
#Bag {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 96px;
	top: 0px;
	overflow: visible;
}
#Container_ic {
	fill: transparent;
}
.Container_ic {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#bag {
	fill: rgba(0,0,0,1);
}
.bag {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 24px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Log-in {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 48px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: 5_1_Login___1.html;
	cursor: pointer;
}
#Conntainer {
	fill: transparent;
}
.Conntainer {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Log-in_ig {
	fill: rgba(0,0,0,1);
}
.Log-in_ig {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 24px;
	left: 1px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#About_us_122__1 {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
	transition: all 0.30000001192092896s ease-out;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 9_0_Meet_us_.html;
	cursor: pointer;
}
#Conntainer_ii {
	fill: transparent;
}
.Conntainer_ii {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Path_2829 {
	fill: rgba(0,0,0,1);
}
.Path_2829 {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#SearchButton {
	position: absolute;
	width: 164px;
	height: 52px;
	left: 1063px;
	top: 7px;
	overflow: visible;
}
#Group_2215 {
	position: absolute;
	width: 164px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1919 {
	opacity: 0;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1919 {
	position: absolute;
	overflow: visible;
	width: 69px;
	height: 52px;
	left: 95px;
	top: 0px;
}
#Search {
	opacity: 0;
	left: 0px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#Search_io {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 116px;
	top: 14px;
	overflow: visible;
}
#Container_ip {
	fill: transparent;
}
.Container_ip {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Search_iq {
	fill: rgba(0,0,0,1);
}
.Search_iq {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 2px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Category {
	position: absolute;
	width: 1366px;
	height: 92px;
	left: 0px;
	top: 64px;
	overflow: visible;
}
#Container-Category {
	fill: rgba(255,224,195,1);
}
.Container-Category {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 92px;
	left: 0px;
	top: 0px;
}
#category-list {
	position: absolute;
	width: 448px;
	height: 62px;
	left: 463px;
	top: 14px;
	overflow: visible;
	padding: 0px;
}
#Lighthing {
	position: absolute;
	width: 64px;
	height: 60px;
	left: 384px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 8_5_Products__Lighting.html;
	cursor: pointer;
}
#Lighting {
	left: 0px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 20px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#icon-Light {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 16px;
	top: 0px;
	overflow: visible;
}
#container-icon {
	fill: transparent;
}
.container-icon {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#icon-Light_iy {
	fill: rgba(0,0,0,1);
	stroke: rgba(21,21,21,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.icon-Light_iy {
	overflow: visible;
	position: absolute;
	width: 29.5px;
	height: 32.5px;
	left: 1.5px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bed {
	position: absolute;
	width: 64px;
	height: 62px;
	left: 288px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 8_4__Products__Bed.html;
	cursor: pointer;
}
#Beds {
	left: 0px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 20px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Rectangle_1923 {
	position: absolute;
	width: 49px;
	height: 40px;
	left: 8px;
	top: 0px;
	overflow: visible;
}
#Chair {
	position: absolute;
	width: 64px;
	height: 60px;
	left: 192px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 8_3_Products__Chairs.html;
	cursor: pointer;
}
#Chairs {
	left: 0px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 20px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#icon-Chair {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 16px;
	top: 0px;
	overflow: visible;
}
#container-icon_i {
	fill: transparent;
}
.container-icon_i {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#icon-Chair_i {
	fill: rgba(21,21,21,1);
	stroke: rgba(21,21,21,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.icon-Chair_i {
	overflow: visible;
	position: absolute;
	width: 24.501px;
	height: 32.499px;
	left: 3.5px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Sofa {
	position: absolute;
	width: 64px;
	height: 60px;
	left: 96px;
	top: 1px;
	overflow: visible;
	transition: all 0.30000001192092896s ease-out;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 8_2_Product___Sofas.html;
	cursor: pointer;
}
#Sofas {
	left: 0px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 20px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#icon-Sofa {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 16px;
	top: 0px;
	overflow: visible;
}
#container-icon_ja {
	fill: transparent;
}
.container-icon_ja {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#armchair {
	position: absolute;
	width: 32px;
	height: 29px;
	left: 0px;
	top: 1px;
	overflow: visible;
}
#Shape {
	fill: rgba(0,0,0,1);
}
.Shape {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 29px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path {
	fill: rgba(0,0,0,1);
}
.Path {
	overflow: visible;
	position: absolute;
	width: 1.971px;
	height: 1.971px;
	left: 9.596px;
	top: 4.907px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_je {
	fill: rgba(0,0,0,1);
}
.Path_je {
	overflow: visible;
	position: absolute;
	width: 1.971px;
	height: 1.971px;
	left: 14.802px;
	top: 4.907px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_jf {
	fill: rgba(0,0,0,1);
}
.Path_jf {
	overflow: visible;
	position: absolute;
	width: 1.971px;
	height: 1.971px;
	left: 20.008px;
	top: 4.907px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_jg {
	fill: rgba(0,0,0,1);
}
.Path_jg {
	overflow: visible;
	position: absolute;
	width: 1.971px;
	height: 1.971px;
	left: 9.596px;
	top: 10.887px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_jh {
	fill: rgba(0,0,0,1);
}
.Path_jh {
	overflow: visible;
	position: absolute;
	width: 1.971px;
	height: 1.971px;
	left: 14.802px;
	top: 10.887px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_ji {
	fill: rgba(0,0,0,1);
}
.Path_ji {
	overflow: visible;
	position: absolute;
	width: 1.971px;
	height: 1.971px;
	left: 20.008px;
	top: 10.887px;
	transform: matrix(1,0,0,1,0,0);
}
#New-in {
	position: absolute;
	width: 64px;
	height: 60px;
	left: 0px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 8_1_Product___New_In.html;
	cursor: pointer;
}
#New_In_jk {
	left: 0px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 20px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#icon-box {
	position: absolute;
	width: 32.5px;
	height: 32px;
	left: 15.75px;
	top: 0px;
	overflow: visible;
}
#icon-box_jm {
	fill: rgba(0,0,0,1);
	stroke: rgba(21,21,21,1);
	stroke-width: 0.20000000298023224px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.icon-box_jm {
	overflow: visible;
	position: absolute;
	width: 32.204px;
	height: 26.2px;
	left: 0.5px;
	top: 3.5px;
	transform: matrix(1,0,0,1,0,0);
}
#container-icon_jn {
	fill: transparent;
}
.container-icon_jn {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}