.mediaViewInfo {
	--web-view-name: 9.0 Meet us page;
	--web-view-id: n_0_Meet_us_page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_0_Meet_us_page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.n_0_Meet_us_page_Class {
	position: absolute;
	width: 1920px;
	height: 5164px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 9.0 Meet us page;
	--web-view-id: n_0_Meet_us_page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes  {


}
@keyframes  {


}
.Category_Class {
	position: absolute;
	width: 1920px;
	height: 92px;
	left: 0px;
	top: 64px;
	overflow: visible;
}
.Container-Category_Class {
	fill: rgba(255,224,195,1);
}
.Container-Category {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 92px;
	left: 0px;
	top: 0px;
}
.category-list_Class {
	position: absolute;
	width: 448px;
	height: 62px;
	left: 742.414px;
	top: 14px;
	overflow: visible;
	padding: 0px;
}
.Lighthing_Class {
	position: absolute;
	width: 64px;
	height: 60px;
	left: 384px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 8_5_Products__Lighting.html;
	cursor: pointer;
}
.Lighting_Class {
	left: 0px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 20px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.icon-Light_Class {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 16px;
	top: 0px;
	overflow: visible;
}
.container-icon_Class {
	fill: transparent;
}
.container-icon {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
.icon-Light_bx_Class {
	fill: rgba(0,0,0,1);
	stroke: rgba(21,21,21,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.icon-Light_bx {
	overflow: visible;
	position: absolute;
	width: 29.5px;
	height: 32.5px;
	left: 1.5px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Bed_Class {
	position: absolute;
	width: 64px;
	height: 62px;
	left: 288px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 8_4__Products__Bed.html;
	cursor: pointer;
}
.Beds_Class {
	left: 0px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 20px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.Rectangle_1923_Class {
	position: absolute;
	width: 49px;
	height: 40px;
	left: 8px;
	top: 0px;
	overflow: visible;
}
.Chair_Class {
	position: absolute;
	width: 64px;
	height: 60px;
	left: 192px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 8_3_Products__Chairs.html;
	cursor: pointer;
}
.Chairs_Class {
	left: 0px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 20px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.icon-Chair_Class {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 16px;
	top: 0px;
	overflow: visible;
}
.container-icon_b_Class {
	fill: transparent;
}
.container-icon_b {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
.icon-Chair_b_Class {
	fill: rgba(21,21,21,1);
	stroke: rgba(21,21,21,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.icon-Chair_b {
	overflow: visible;
	position: absolute;
	width: 24.501px;
	height: 32.498px;
	left: 3.5px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Sofa_Class {
	position: absolute;
	width: 64px;
	height: 60px;
	left: 96px;
	top: 1px;
	overflow: visible;
	transition: all 0.30000001192092896s ease-out;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 8_2_Product___Sofas.html;
	cursor: pointer;
}
.Sofas_Class {
	left: 0px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 20px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.icon-Sofa_Class {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 16px;
	top: 0px;
	overflow: visible;
}
.container-icon_ca_Class {
	fill: transparent;
}
.container-icon_ca {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
.armchair_Class {
	position: absolute;
	width: 32px;
	height: 29px;
	left: 0px;
	top: 1px;
	overflow: visible;
}
.Shape_Class {
	fill: rgba(0,0,0,1);
}
.Shape {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 29px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_Class {
	fill: rgba(0,0,0,1);
}
.Path {
	overflow: visible;
	position: absolute;
	width: 1.97px;
	height: 1.971px;
	left: 9.595px;
	top: 4.908px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_cd_Class {
	fill: rgba(0,0,0,1);
}
.Path_cd {
	overflow: visible;
	position: absolute;
	width: 1.97px;
	height: 1.971px;
	left: 14.802px;
	top: 4.908px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_ce_Class {
	fill: rgba(0,0,0,1);
}
.Path_ce {
	overflow: visible;
	position: absolute;
	width: 1.97px;
	height: 1.971px;
	left: 20.008px;
	top: 4.908px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_cf_Class {
	fill: rgba(0,0,0,1);
}
.Path_cf {
	overflow: visible;
	position: absolute;
	width: 1.97px;
	height: 1.971px;
	left: 9.595px;
	top: 10.887px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_cg_Class {
	fill: rgba(0,0,0,1);
}
.Path_cg {
	overflow: visible;
	position: absolute;
	width: 1.97px;
	height: 1.971px;
	left: 14.802px;
	top: 10.887px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_ch_Class {
	fill: rgba(0,0,0,1);
}
.Path_ch {
	overflow: visible;
	position: absolute;
	width: 1.97px;
	height: 1.971px;
	left: 20.008px;
	top: 10.887px;
	transform: matrix(1,0,0,1,0,0);
}
.New-in_Class {
	position: absolute;
	width: 64px;
	height: 60px;
	left: 0px;
	top: 1px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: 8_1_Product___New_In.html;
	cursor: pointer;
}
.New_In_Class {
	left: 0px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 20px;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.icon-box_Class {
	position: absolute;
	width: 32.5px;
	height: 32px;
	left: 15.75px;
	top: 0px;
	overflow: visible;
}
.icon-box_cl_Class {
	fill: rgba(0,0,0,1);
	stroke: rgba(21,21,21,1);
	stroke-width: 0.20000000298023224px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.icon-box_cl {
	overflow: visible;
	position: absolute;
	width: 32.205px;
	height: 26.201px;
	left: 0.5px;
	top: 3.5px;
	transform: matrix(1,0,0,1,0,0);
}
.container-icon_cm_Class {
	fill: transparent;
}
.container-icon_cm {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
.Nav_Bar_Class {
	position: absolute;
	width: 1920px;
	height: 64px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Container-Header_Class {
	fill: rgba(255,255,255,1);
}
.Container-Header {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 64px;
	left: 0px;
	top: 0px;
}
.divider_Class {
	fill: transparent;
	stroke: rgba(233,233,233,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.divider {
	overflow: visible;
	position: absolute;
	width: 1366px;
	height: 1px;
	left: 0px;
	top: 64px;
	transform: matrix(1,0,0,1,0,0);
}
.Logo-Text_Class {
	position: absolute;
	width: 149px;
	height: 32px;
	left: 59px;
	top: 16px;
	overflow: visible;
}
.LOZA_Class {
	left: 36px;
	top: 5px;
	position: absolute;
	overflow: hidden;
	width: 114px;
	height: 27px;
	line-height: 27px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(21,21,21,1);
	letter-spacing: 1.25px;
}
.Logo_Class {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Container_Class {
	fill: transparent;
}
.Container {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
.Logo_cu_Class {
	fill: rgba(21,21,21,1);
}
.Logo_cu {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 24px;
	left: 2px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
.right_icons_Class {
	position: absolute;
	width: 120px;
	height: 24px;
	left: 1781px;
	top: 21px;
	overflow: visible;
	padding: 0px;
}
.Bag_Class {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 96px;
	top: 0px;
	overflow: visible;
}
.Container_cx_Class {
	fill: transparent;
}
.Container_cx {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
.bag_Class {
	fill: rgba(0,0,0,1);
}
.bag {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 24px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Log-in_Class {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 48px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: 5_1_Login___1.html;
	cursor: pointer;
}
.Conntainer_Class {
	fill: transparent;
}
.Conntainer {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
.Log-in_c_Class {
	fill: rgba(0,0,0,1);
}
.Log-in_c {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 24px;
	left: 1px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.About_us_122__1_Class {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Conntainer_c_Class {
	fill: transparent;
}
.Conntainer_c {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
.Path_2829_Class {
	fill: rgba(0,0,0,1);
}
.Path_2829 {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.SearchButton_Class {
	position: absolute;
	width: 164px;
	height: 52px;
	left: 1617px;
	top: 7px;
	overflow: visible;
}
.Group_2215_Class {
	position: absolute;
	width: 164px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1919_Class {
	opacity: 0;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1919 {
	position: absolute;
	overflow: visible;
	width: 69px;
	height: 52px;
	left: 95px;
	top: 0px;
}
.Search_Class {
	opacity: 0;
	left: 0px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
.Search_c_Class {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 116px;
	top: 14px;
	overflow: visible;
}
.Container_da_Class {
	fill: transparent;
}
.Container_da {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
.Search_db_Class {
	fill: rgba(0,0,0,1);
}
.Search_db {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 2px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
.Scroll_Group_11_Class {
	mix-blend-mode: normal;
	position: absolute;
	width: 1366px;
	height: 4952px;
	left: 277px;
	top: 156px;
	overflow: hidden;
}
.Group_2244_Class {
	position: absolute;
	width: 1366px;
	height: 4697px;
	left: 0px;
	top: 66px;
	overflow: visible;
}
.Rectangle_1924_Class {
	position: absolute;
	width: 1364px;
	height: 713px;
	left: 2px;
	top: 184px;
	overflow: visible;
}
.Group_2243_Class {
	position: absolute;
	width: 194px;
	height: 439px;
	left: 170px;
	top: 3470px;
	overflow: visible;
}
.SWE_1_Class {
	position: absolute;
	width: 194px;
	height: 345px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Lee_Thean_Verlynn__Back-End_De_Class {
	left: 17px;
	top: 388px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(21,21,21,1);
}
.Group_2242_Class {
	position: absolute;
	width: 226px;
	height: 428px;
	left: 684px;
	top: 3470px;
	overflow: visible;
}
.SWE3_Class {
	position: absolute;
	width: 226px;
	height: 321px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Tay_Jia_Xuan__Back-End_Develop_Class {
	left: 41px;
	top: 377px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(21,21,21,1);
}
.Group_2241_Class {
	position: absolute;
	width: 250px;
	height: 431px;
	left: 399px;
	top: 3470px;
	overflow: visible;
}
.SWE_2_Class {
	position: absolute;
	width: 241px;
	height: 321px;
	left: 5px;
	top: 0px;
	overflow: visible;
}
.Jaanane_Catherine_Mahadevan__F_Class {
	left: 0px;
	top: 380px;
	position: absolute;
	overflow: visible;
	width: 251px;
	white-space: nowrap;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(21,21,21,1);
}
.Group_2246_Class {
	position: absolute;
	width: 225px;
	height: 423px;
	left: 971px;
	top: 3467px;
	overflow: visible;
}
.n_0210416_161908_Class {
	position: absolute;
	width: 225px;
	height: 322px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Phua_Wai_Wai__Front-End_Develo_Class {
	left: 32px;
	top: 372px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(21,21,21,1);
}
.Meet_the_Team_Class {
	left: 543px;
	top: 3386px;
	position: absolute;
	overflow: visible;
	width: 281px;
	white-space: nowrap;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(21,21,21,1);
}
.Group_2240_Class {
	position: absolute;
	width: 1190px;
	height: 389px;
	left: 88px;
	top: 2850px;
	overflow: visible;
}
.Who_are_we_Class {
	left: 503px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 253px;
	white-space: nowrap;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(21,21,21,1);
}
.Welcome_to_Deco___At_Deco_we_a_Class {
	left: 0px;
	top: 92px;
	position: absolute;
	overflow: visible;
	width: 1191px;
	white-space: nowrap;
	text-align: center;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(21,21,21,1);
	letter-spacing: 0.02px;
}
.Meet_DECO__Class {
	left: 541px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 285px;
	white-space: nowrap;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(21,21,21,1);
}
.Embrace_the_Essence_of_Japan__Class {
	left: 20px;
	top: 103px;
	position: absolute;
	overflow: visible;
	width: 615px;
	white-space: nowrap;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(21,21,21,1);
}
.Tradition_in_Every_Click__Class {
	left: 403px;
	top: 990px;
	position: absolute;
	overflow: visible;
	width: 456px;
	white-space: nowrap;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(21,21,21,1);
}
.Innovation_in_Every_Choice_Class {
	left: 640px;
	top: 1903px;
	position: absolute;
	overflow: visible;
	width: 532px;
	white-space: nowrap;
	text-align: left;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(21,21,21,1);
}
.Rectangle_1924_dz_Class {
	position: absolute;
	width: 1366px;
	height: 693px;
	left: 0px;
	top: 1126px;
	overflow: visible;
}
.Rectangle_1924_d_Class {
	position: absolute;
	width: 1366px;
	height: 719px;
	left: 0px;
	top: 1984px;
	overflow: visible;
}
.Rectangle_1924_ea_Class {
	position: absolute;
	width: 1364px;
	height: 652px;
	left: 2px;
	top: 4045px;
	overflow: visible;
}